@import url(https://fonts.googleapis.com/css?family=Orbitron:400,900);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700);

body {
	background-color: #f6fcf1;
	color: #f2289c;
	font-family: 'Exo 2', sans-serif;
	margin: 0 20%;
}

h1 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 40px;
	font-style: bold;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}

h3 {
	font-family: 'Orbitron', sans-serif;
	color: #43a533;
	font-size: 26px;
	padding: .10em 0;
}
#contactme {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px; 
}

ul {
	font-family: 'Orbitron', sans-serif;
	font-size: 19px;
}

p {
	font-family: 'Exo 2' , sans-serif; 
	color: #43a533;
	font-size: 24px;
}

hr {
	width: 400px; 
}